<footer class="footer">
  <div class="container footer-container">
    <div class="menu-contact">
      <div class="logo-text">
        <svg class="icons" width="194" height="18">
          <use href="/icons/sprite.svg#icon-logo-4"></use>
        </svg>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-nav-contacts">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="../index.html">how it works</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="../index.html">vegetables</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="../index.html">reviews</a>
            </li>
          </ul>
        </nav>

        <address class="footer-contacts">
          <a class="contacts-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
          <span class="span-adress"
            >1678 S. Pioneer Road Salt Lake City UT 84104</span
          >
        </address>
      </div>
    </div>

    <div class="privacy-policy">
      <div class="links-privacy">
        <a href="#" onclick="return false;">Privacy Policy</a>
        <span class="slash">/</span>
        <a href="#" onclick="return false;">Cookie settings</a>
      </div>
      <p class="scopy">&copy;Green Harvest 2023</p>
    </div>
  </div>
</footer>
