<header class="page-header">
  <div class="container header-container">
    <a class="header-logo-link">
      <svg class="header-svg" width="194" height="18">
        <use href="/icons/sprite.svg#icon-logo-4"></use>
      </svg>
    </a>
    <div class="nav-button-sumb">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-iteam-how">
            <a class="header-nav-link" href="#id-how-iw">How It Works</a>
          </li>
          <li class="header-nav-iteam-veg">
            <a class="header-nav-link" href="#id-vegetabels">Vegetables</a>
          </li>
          <li class="header-nav-iteam-rev">
            <a class="header-nav-link" href="#id-revives">Reviews</a>
          </li>
        </ul>
      </nav>
      <button class="header-button" id="your-order-btn" type="button">
        Shop now
      </button>
      <button
        class="burger-btn js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        type="button"
      >
        <svg class="burger-btn-svg" width="26" height="20">
          <use href="/icons/sprite.svg#icon-vektor-mob"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
