<header class="page-header">
  <div class="container header-container">
    <a class="header-logo-link">
      <svg class="header-svg" width="194" height="18">
        <use href="../icons/svg.svg#icon-logo-2"></use>
      </svg>
    </a>
    <div class="nav-button-sumb">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-iteam-how">
            <a class="header-nav-link" href="#">How It Works</a>
          </li>
          <li class="header-nav-iteam-veg">
            <a class="header-nav-link" href="#">Vegetables</a>
          </li>
          <li class="header-nav-iteam-rev">
            <a class="header-nav-link" href="#">Reviews</a>
          </li>
        </ul>
      </nav>
      <button class="header-button" type="button">Shop now</button>
      <button class="burger-btn" type="button">
        <svg class="burger-btn-svg" width="26" height="20">
          <use href="../icons/svg.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
