<section class="How-it-works">
  <div class="container box-div">
    <div class="div-img">
      <h2 class="visually-hidden">How it works</h2>

      <picture>
        <source
          media="(min-width: 1158px)"
          srcset="
            /img/how-it-works/desktop/Rectangle.webp    1x,
            /img/how-it-works/desktop/Rectangle-2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/how-it-works/tablet/image.webp    1x,
            /img/how-it-works/tablet/image-2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/how-it-works/mobile/Rectangle.webp    1x,
            /img/how-it-works/mobile/Rectangle-2x.webp 2x
          "
        />
        <img
          class="img"
          src="/img/how-it-works/mobile/Rectangle.webp"
          alt="Rectangle"
          width="335"
          height="540"
        />
      </picture>
    </div>
    <div class="div-content">
      <div class="divka">
        <h3 class="title-How-it-works">
          To order your <span class="color-rgda">vegetable</span> basket, simply
          follow these <span class="color-rgda">easy steps</span>
        </h3>
        <p class="text-How-it-works">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <ol class="ol-How-it-works">
          <li class="list-li">
            <p class="list-text">
              Just choose
              <span class="color-span-text">the vegetable</span> you want to
              order by clicking on the checkboxes
              <span class="color-span-text">next to it</span>.
            </p>
          </li>
          <li class="list-li">
            <p>
              Click on <span class="color-span-text">the basket</span> and fill
              out the form.
            </p>
          </li>
          <li class="list-li">
            <p class="list-text">
              Sit back and relax! Your
              <span class="color-span-text">fresh vegetables</span> basket will
              be delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
