<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close-button" data-menu-close>
      <svg width="16" height="16">
        <use href="/src/icons/icons.svg#icon-close-mobile"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-ul">
        <li class="mobile-menu-li"><a href="#">How It Works</a></li>
        <li class="mobile-menu-li"><a href="#">Vegetables</a></li>
        <li class="mobile-menu-li"><a href="#">Reviews</a></li>
      </ul>
    </nav>
    <button class="mobile-menu-shop-btn">Shop now</button>
  </div>
</div>

<button class="burger-button-menu" data-menu-open>
  <svg width="21" height="16" class="icon-burger-button">
    <use class="use-menu" href="/src/icons/sprite.svg#icon-vektor-mob"></use>
  </svg>
</button>
