<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close-button js-close-menu">
      <svg class="mobile-menu-close-svg" width="32" height="32">
        <use href="/icons/sprite.svg#icon-close-mob"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-ul">
        <li class="mobile-menu-li">
          <a class="mobile-menu-a" href="#id-how-iw">How It Works</a>
        </li>
        <li class="mobile-menu-li">
          <a class="mobile-menu-a" href="#id-vegetables">Vegetables</a>
        </li>
        <li class="mobile-menu-li">
          <a class="mobile-menu-a" href="#section_revievs">Reviews</a>
        </li>
      </ul>
    </nav>
    <a class="mobile-menu-shop-btn" href="#id-your_order">Shop now</a>
  </div>
</div>
