<section class="section-vegetables">
  <div class="container">
    <div class="div-vegetables">
      <h2 id="id-vegetables" class="h2-title-vegetables">
        organic <br /><span class="h2-vegetables-span">vegetables</span>
      </h2>
      <p class="p-vegetables">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <!-- Card Part -->
    <!-- eggplant -->
    <div class="vegetables-grid">
      <ul class="ul-card-vegetables">
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">eggplant</h3>
          <p class="p-card-vegetables">60 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              /img/vegetables/eggplant.png   1x,
              /img/vegetables/eggplant2x.png 2x
            "
            src="/img/vegetables/eggplant.png"
            alt="eggplant"
            width="282"
            height="243"
          />
        </li>
        <!-- leek -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">leek</h3>
          <p class="p-card-vegetables">50 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="/img/vegetables/leek.png 1x, /img/vegetables/leek2x.png 2x"
            src="/img/vegetables/leek.png"
            alt="leek"
            width="282"
            height="243"
          />
        </li>
        <!-- mushrooms -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">mushrooms</h3>
          <p class="p-card-vegetables">40 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              /img/vegetables/mushrooms.png   1x,
              /img/vegetables/mushrooms2x.png 2x
            "
            src="/img/vegetables/mushrooms.png"
            alt="mushrooms"
            width="282"
            height="243"
          />
        </li>
        <!-- corn -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">corn</h3>
          <p class="p-card-vegetables">60 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="/img/vegetables/corn.png 1x, /img/vegetables/corn2x.png 2x"
            src="/img/vegetables/corn.png"
            alt="corn"
            width="282"
            height="243"
          />
        </li>
        <!-- sweet potatoes -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">sweet potatoes</h3>
          <p class="p-card-vegetables">50 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              /img/vegetables/potato.png   1x,
              /img/vegetables/potato2x.png 2x
            "
            src="/img/vegetables/potato.png"
            alt="sweet potatoes"
            width="282"
            height="243"
          />
        </li>
        <!-- carrot -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">carrot</h3>
          <p class="p-card-vegetables">40 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              /img/vegetables/carrot.png   1x,
              /img/vegetables/carrot2x.png 2x
            "
            src="/img/vegetables/carrot.png"
            alt="carrot"
            width="282"
            height="243"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
