<section class="section-vegetables">
  <div class="container">
    <div class="div-vegetables">
      <h2 class="h2-title-vegetables">
        organic <br /><span class="h2-vegetables-span">vegetables</span>
      </h2>
      <p class="p-vegetables">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <!-- Card Part -->
    <!-- eggplant -->
    <div class="vegetables-grid">
      <ul class="ul-card-vegetables">
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">eggplant</h3>
          <p class="p-card-vegetables">60 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              ../img/vegetables/eggplant.webp    1x,
              ../img/vegetables/eggplant-2x.webp 2x
            "
            src="../img/vegetables/eggplant.webp"
            alt="eggplant"
            width="282"
            height="243"
          />
        </li>
        <!-- leek -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">leek</h3>
          <p class="p-card-vegetables">50 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              ../img/vegetables/leek.webp    1x,
              ../img/vegetables/leek-2x.webp 2x
            "
            src="../img/vegetables/leek.webp"
            alt="leek"
            width="282"
            height="243"
          />
        </li>
        <!-- mushrooms -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">mushrooms</h3>
          <p class="p-card-vegetables">40 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              ../img/vegetables/mushrooms.webp    1x,
              ../img/vegetables/mushrooms-2x.webp 2x
            "
            src="../img/vegetables/mushrooms.webp"
            alt="mushrooms"
            width="282"
            height="243"
          />
        </li>
        <!-- corn -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">corn</h3>
          <p class="p-card-vegetables">60 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              ../img/vegetables/corn.webp    1x,
              ../img/vegetables/corn-2x.webp 2x
            "
            src="../img/vegetables/corn.webp"
            alt="corn"
            width="282"
            height="243"
          />
        </li>
        <!-- sweet potatoes -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">sweet potatoes</h3>
          <p class="p-card-vegetables">50 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              ../img/vegetables/potatoes.webp    1x,
              ../img/vegetables/potatoes-2x.webp 2x
            "
            src="../img/vegetables/potatoes.webp"
            alt="sweet potatoes"
            width="282"
            height="243"
          />
        </li>
        <!-- carrot -->
        <li class="li-card-vegetables">
          <h3 class="h3-card-vegetables">carrot</h3>
          <p class="p-card-vegetables">40 USD / kg</p>
          <img
            class="img-card-vegetables"
            srcset="
              ../img/vegetables/carrot.webp    1x,
              ../img/vegetables/carrot-2x.webp 2x
            "
            src="../img/vegetables/carrot.webp"
            alt="carrot"
            width="282"
            height="243"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
