<section class="your_order">
  <div class="container">
    <!-- Заголовок -->

    <h2 class="your_order_title">
      Fresh <span class="your_order-span">Harvest</span> Box has got you covered
    </h2>

    <!-- Текст под заголовком -->

    <p class="your_order_text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <!--  Форма -->
    <div class="ogromniyconteiner">
      <div class="your_order_forma">
        <p class="your_order_forma_text">
          Ordering <span class="order_form_span">from us</span> is quick and
          easy! Fill out <span class="order_form_span_two">the form</span> below
          and we will contact you !
        </p>
      </div>

      <div class="paraparapam">
        <form class="order_forma" name="order_form">
          <label>
            <input
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              class="form-input"
              type="text"
              name="username"
              placeholder="Full Name"
              required
            />
          </label>
          <label>
            <input
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              class="form-input"
              type="email"
              name="email"
              placeholder="Email"
              required
            />
          </label>
          <label>
            <textarea
              class="form-input_coment"
              name="feedback"
              placeholder="Comment"
            ></textarea>
          </label>

          <button class="form-button" type="submit">SEND</button>
        </form>
      </div>

      <!-- Картинка с соц.сетями -->

      <div class="your_order_picture">
        <div class="box_of_picture">
          <img
            class="picture_of_order"
            src="/img/your-order/desktop/Rectangle-2x.webp"
            srcset="
              /img/your-order/mobile/Rectangle-1x.webp   375w,
              /img/your-order/tablet/Rectangle-2x.webp   768w,
              /img/your-order/desktop/Rectangle-2x.webp 1280w
            "
            sizes="(max-width: 375px) 100vw, 
            (max-width: 768px) 90vw, 
            (max-width: 1280px) 80vw, 
            70vw"
            alt="order"
          />
          <p class="text_of_links">Follow us on our social networks:</p>
          <ul class="media_list">
            <li>
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                class="linkcurrent"
                >instagram</a
              >
            </li>
            <p class="slash">/</p>
            <li>
              <a
                href="https://www.facebook.com/goITclub/ "
                target="_blank"
                class="linkcurrent"
                >facebook</a
              >
            </li>
            <p class="slash">/</p>
            <li>
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                class="linkcurrent"
                >youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
