<section class="your_order">
    <div class="container">

                <!-- Заголовок -->

<h2 class="your_order_title"> Fresh <span class="your_order-span">Harvest</span>  Box has got you covered</h2>

                <!-- Текст под заголовком -->

<p class="your_order_text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local
farmers. Order your box today and start enjoying the best that nature has to offer!</p>


               <!--  Форма --> 
<div class="ogromniyconteiner">
<div class="your_order_forma">

<p class="your_order_forma_text">Ordering <span class="order_form_span">from us</span> is quick and easy! Fill out <span class="order_form_span_two">the form</span> below and we will contact you !</p>

<div class="paraparapam">

<form class="order_forma" name="order_form">
<label>
<input pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
class="form-input" type="text" name="username" placeholder="Full Name" required />
</label>
<label>
<input pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
 class="form-input" type="email" name="email" placeholder="Email" required/>
</label>
<label>
    <textarea  class="form-input_coment" name="feedback"  placeholder="Comment" ></textarea>
</label>

<button class="form-button" type="submit">SEND</button>
</div>
</form>

</div>

               <!-- Картинка с соц.сетями -->

<div class="your_order_image">
    <div class="lalalala">
<img class="kartinnka"
src="../img/your-order/desktop/Rectangle-2x.webp" alt="order">
    <p class="textoflinks">Follow us on our social networks:</p>
    <ul class="spissokk">
        <li>
<a href="https://www.instagram.com/goitclub/" target="_blank" class="linkcurrent">instagram</a>
        </li>
       <p class="slash">/</p>
        <li >
<a href="https://www.facebook.com/goITclub/ " target="_blank" class="linkcurrent">facebook</a>
        </li>
        <p class="slash">/</p>
        <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="linkcurrent">youtube</a>
        </li>
    </ul>
</div>
</div>

</div>

</div>
</section>