.footer {
    color: #fbfbfb;
    background-color: #7A3145;
    padding: 40px 0;
    font-family: "Inter Tight", sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.menu-contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 80px;
    width: 100%;
}

.logo-text {
    width: 296px;
    margin-bottom: 40px;
}

.icons {
    width: 168px;
    height: 16px;
    fill: #fbfbfb;
    margin-bottom: 14px;
}

.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
}

.footer-nav {
    margin-bottom: auto;
}

.footer-nav ul li {
    display: block;
}


.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 40px;
}

.footer-nav-item {
    display: block;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    font-style: normal;
    color: #fbfbfb;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    font-style: normal;
    unicode-bidi: inherit;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 215px;
}

.span-adress {
    display: block;
    padding-right: 36px;
}

.privacy-policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
}

.links-privacy {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}

.scopy {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);

}

@media only screen and (min-width: 340px) {
    .links-privacy {
        display: flex;
        gap: 8px;
    }
}

@media screen and (min-width: 768px) {

    .footer {
        padding: 32px 0;
    }

    .footer-container {
        margin: 0 auto;
    }

    .icons {
        width: 194px;
        height: 18px;
        margin-bottom: 25px;
    }

    .logo-text {
        width: 265px;
        margin: 0;
    }

    .footer-text {
        font-size: 16px;
        line-height: 1.25;
    }

    .menu-contact {
        display: flex;
        flex-direction: row;
        gap: 224px;
        margin-bottom: 100px;
    }

    .footer-nav-list {
        gap: 25px;
        margin-bottom: 64px;
    }

    .footer-nav-link {
        font-size: 32px;
    }

    .footer-contacts {
        font-size: 18px;
        line-height: 1.1;
    }

    .span-adress {
        padding-right: 0;
    }

    .footer-contacts {
        gap: 25px;
    }

    .privacy-policy {
        width: 100%;
    }

    .links-privacy,
    .scopy {
        font-size: 18px;
        line-height: 1.11;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        padding: 50px 0;
    }

    .footer-nav-contacts {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 121px;
    }

    .footer-nav-list {
        margin-bottom: 0;
    }

    .menu-contact {
        justify-content: space-between;
        margin-bottom: 125px;
    }
}