.page-header{
width: 100%;
position: absolute;
top: 20px;
background-color:transparent;
z-index: 99999;
}

.header-container{
display: flex;
align-items: center;
justify-content: space-between;
}
.header-nav-link,
.header-button{
display: none;
}
.header-svg{
width:168px;
height: 16px;
fill: #fbfbfb;
}
.burger-btn{
border: none;
display: flex;
align-items: center;
justify-content: center;
width: 32px;
height: 32px;
background-color: transparent;
}
.burger-btn-svg{
stroke-width: 4px;
stroke: #fbfbfb;
}
@media only screen and (min-width: 768px){
.page-header{
top: 32px;
}  

.header-svg{
width: 194px;
height: 18px;
}
.burger-btn{
width: 40px;
height: 40px;
}
.burger-btn-svg{
stroke-width: 3px;
stroke: #fbfbfb;
}
}

@media screen and (min-width: 1280px){
.burger-btn{
display: none;
}
.nav-button-sumb{
 display: flex;
align-items: center;
justify-content: center;
flex-direction: row; 
min-width: 489px;
height: 52px;
}
.header-nav-list{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 8px;   
min-width: 312px; 
height: 44px;
}
.header-nav-iteam-how{
width: 114px;
height: 44px; 
}
.header-nav-iteam-veg{
width: 101px;
height: 44px;
}
.header-nav-iteam-rev{
width: 81px;
height: 44px;
}
.header-nav-link{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;    
border: 1px solid rgba(251, 251, 251, 0.4);
border-radius: 12px;
width: 100%;
height: 100%;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
text-align: center;
color: #fbfbfb;
}
.header-button:hover,
.header-button:focus{background: #622133;
}

.header-button{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 30px;
min-width: 157px;
height: 52px;
background: #7a3145;
font-weight: 600;
font-size: 18px;
line-height: 1.11111;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
margin-left: 20px;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}




