/* #region hero */
.hero {}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #576f35;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 100px;
}

.hero-text-wraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 335px;
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.bg-container {
  display: flex;
  width: 100vw;
}

.hero-img-container {
  height: 370px;
  width: 100%;
  background-image: linear-gradient(rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)),
    url(/img/hero/mobile/image_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero-img-container {
    background-image: linear-gradient(rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
      url(/img/hero/mobile/image_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {}
  .hero-text-container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 50px;
    padding-top: 122px;
  }

  .hero-text-wraper {
    gap: 25px;
    max-width: 704px;
  }

  .hero-title {
    font-size: 76px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-img-container {
    height: 539px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
      url(/img/hero/tablet/image_1x.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero-img-container {
      background-image: linear-gradient(rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)),
        url(/img/hero/mobile/image_2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {}

  .hero-container {
    flex-direction: row;
  }

  .hero-text-container {
    padding-left: 100px;
    padding-right: 28px;
    padding-top: 238px;
  }

  .hero-text-wraper {
    gap: 128px;
    min-width: 502px;
  }

  .hero-title {
    font-size: 76px;
  }

  .hero-img-container {
    height: 800px;
    min-width: 650px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
      url(/img/hero/desktop/image_1x.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero-img-container {
      background-image: linear-gradient(rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)),
        url(/img/hero/desktop/image_2x.jpg);
    }
  }
}


/* #endregion hero */