/* #region hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 0;
    margin: 0;
    padding: 100px 0 0 0;
    background-color: #576f35;
    height: 812px;
}

.hero-text-container {
    margin-bottom: 40px;
}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}

.hero-text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #fbfbfb;
}

.hero-img-container {
    flex: 1;
    height: 370px;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2),
    rgba(20, 20, 20, 0.2)),
    url(/img/hero/mobile/image_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-resolution: 192dpi) {
    .hero-img-container {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.2)),
            url(/img/hero/mobile/image_2x.jpg);
    }
        
}

/* #endregion hero */