/*#region Mobile*/
.How-it-works {
  display: flex;
  justify-content: center;
  padding: 0;
  background: linear-gradient(to right, #7a3145 50%, #576f35 50%);
  height: 100%;
}

.box-div {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div-img {
  display: flex;
  justify-content: center;
  background-color: #7a3145;
  padding: 40px 20px;
  width: 100vw;
}
.img {
  display: block;
  border-radius: 30px;
  max-width: 335px;
  width: 100%;
}
.div-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #576f35;
  gap: 40px;
  padding: 80px 20px;
  width: 100vw;
}
.title-How-it-works {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.divka {
  max-width: 335px;
}
.hiw-list-container {
  max-width: 335px;
}
.color-rgda {
  color: rgba(251, 251, 251, 0.3);
}
.text-How-it-works {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  overflow: hidden;
}
.ol-How-it-works {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  counter-reset: step-counter;
}
.list-li {
  position: relative;
  display: flex;
  gap: 24px;
  background: #fbfbfb;
  border-radius: 15px;
  padding: 12px 27px 12px 24px;
  max-width: 100%;
  min-height: 76px;
  padding-left: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 25px;
  align-items: center;
}
.list-li::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  margin-left: 24px;
  content: counter(step-counter);
  counter-increment: step-counter;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7a3145;
  border: 5px #d4c5c9 solid;
  border-radius: 50%;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.list-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}
.color-span-text {
  font-weight: 700;
  color: #141414;
}
/*#endregion Mobile*/
/*#region Tablet*/
@media screen and (min-width: 768px) {
  .div-img {
    padding: 100px 64px;
  }
  .img {
    border-radius: 30px;
    max-width: 640px;
  }
  .div-content {
    gap: 50px;
    padding: 100px 159px;
  }
  .title-How-it-works {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
  }
  .divka {
    max-width: 450px;
  }
  .hiw-list-container {
    max-width: 450px;
  }
  .text-How-it-works {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #fbfbfb;
  }
  .list-text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 20px; */
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);
  }
}
/*#endregion Tablet*/
/*#region Desktop*/
@media screen and (min-width: 1280px) {
  .box-div {
    flex-direction: row;
  }
  .div-img {
    padding: 100px;
    width: 100vw;
  }
  .img {
    border-radius: 30px;
    min-width: 430px;
  }
  .div-content {
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 160px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100vw;
  }
  .divka {
    min-width: 450px;
  }
  .hiw-list-container {
    width: 450px;
  }
  .title-How-it-works {
    margin-bottom: 25px;
  }
  .text-How-it-works {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #fbfbfb;
  }
}
/*#endregion Desktop*/
