.icon-burger-button {
  stroke: black;
  fill: #fbfbfb;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7a3145;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  padding-top: 240px;
  padding-bottom: 40px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 999999;
}

.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: 8px;
}

.mobile-menu-ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.mobile-menu-li {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 16px;
  width: 115px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-li:hover,
.mobile-menu-li:focus {
  color: #7a3145;
  background-color: #fbfbfb;
}

.mobile-menu-shop-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 16px 32px;
  width: 155px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.4);
  margin-top: auto;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-shop-btn:hover,
.mobile-menu-shop-btn:focus {
  color: #7a3145;
  background-color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(20, 20, 20, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-button {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 0;
  }

  .mobile-menu-close-svg {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-container {
    width: 351px;
    background-color: #7a3145;
    top: 0;
    right: 0;
    position: fixed;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }

  .burger-button-menu {
    display: none;
  }
}
