/* #region Styles for Mobile devices */

/*#region Slide*/
.reviews-section {
  background: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 80px;
}
.revievs-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.reviews-span {
  color: #576f35;
}
.reviews-description {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #141414;
}

.opinion-list {
  width: 300%;
  display: flex;
  transition: transform 0.6s ease;
}
.opinion-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding-top: 20px;
  padding-bottom: 38px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.opinion-user-img {
  margin-bottom: 24px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
.opinion-user-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;

  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}
.opinion-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  max-width: 288px;
}
/*#endregion Slide*/
/*#region Nav*/
.slider {
  width: 100%;
  overflow: hidden;
}
.navigation-reviews {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  gap: 20px;
}

.bar {
  height: 8px;
  width: 16px;
  cursor: pointer;
  background-color: #576f35;
  opacity: 0.2;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.bar:hover,
.bar:focus {
  opacity: 0.5;
  transform: scale(1.2);
}
input[name='r'] {
  display: none;
}
/*#endregion Nav*/
@media screen and (max-width: 767px) {
  /*#region Nav*/

  .opinion-item {
    max-width: 335px;
    flex: 0 0 33.33333333333333%;
  }

  #r1:checked ~ .opinion-list {
    transform: translateX(0%);
  }

  #r2:checked ~ .opinion-list {
    transform: translateX(-33.33333333333333%);
  }

  #r3:checked ~ .opinion-list {
    transform: translateX(-66.66666666666666%);
  }

  /*#endregion Nav*/
}

/* #endregion Styles for Mobile devices */

/* #region Styles for Tablet devices */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /*#region slide*/
  .reviews-section {
    background: #fbfbfb;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .revievs-text-container {
    max-width: 553px;
    gap: 25px;
    margin-bottom: 50px;
  }
  .reviews-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
  }
  .reviews-description {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.25;
    color: #141414;
  }

  .opinion-list {
    display: flex;
    gap: 18px;
  }
  .opinion-item {
    width: calc((100% - 18px) / 2);
    padding: 20px;
  }
  .opinion-user-title {
    font-size: 18px;
    line-height: 1.1;
    color: #141414;
  }
  .opinion-text {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(20, 20, 20, 0.4);
  } /*#endregion slide*/

  /*#region Nav*/

  .opinion-list {
    width: 200%;
  }

  .opinion-item {
    max-width: 343px;
  }

  #r1:checked ~ .opinion-list {
    transform: translateX(0%);
  }

  #r2:checked ~ .opinion-list {
    transform: translateX(-25.65%);
  }

  .navigation-reviews label[for='r3'] {
    display: none;
  }

  .bar {
    height: 10px;
    width: 20px;
    border-radius: 10px;
  }
  /*#endregion Nav*/
}

/* #endregion Styles for Tablet devices */

/* #region Styles for Desktop devices */
@media screen and (min-width: 1280px) {
  .revievs-text-container {
    max-width: 553px;
    gap: 25px;
    margin-bottom: 50px;
  }
  .reviews-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
  }
  .reviews-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #141414;
  }
  .opinion-list {
    display: flex;
    width: 100%;
    gap: 25px;
  }
  .opinion-item {
    width: calc((100% - (25px * 2) / 3));
    max-width: 343px;
  }
  input[name='r'] {
    display: none; /* приховати радіо-кнопки */
  }
  .navigation-reviews {
    display: none;
  }
  .opinion-user-title {
    font-size: 18px;
    line-height: 1.1;
    color: #141414;
  }
  .opinion-text {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(20, 20, 20, 0.4);
  }
}

/* #endregion Styles for Desktop devices */
