.section-vegetables {
  background-color: #692b43;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.div-vegetables {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.h2-title-vegetables {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.h2-vegetables-span {
  color: rgba(251, 251, 251, 0.3);
}

.p-vegetables {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
}

.vegetables-grid {
  display: flex;
  justify-content: center;
}

.ul-card-vegetables {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.li-card-vegetables {
  border-radius: 40px;
  padding: 32px 26px;
  width: 334px;
  height: 379px;
  background: #fbfbfb;
}

.h3-card-vegetables {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #7a3145;
  margin-bottom: 12px;
}

.p-card-vegetables {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 14px;
}

.img-card-vegetables {
  width: 282px;
  height: 243px;
  background-color: transparent;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 767px) {
}

/* Планшетна верстка (від 768px до 1279px) */
@media screen and (min-width: 768px) {
  .section-vegetables {
    padding: 100px 0px;
    width: 100%;
    height: 1661px;
  }

  .div-vegetables {
    gap: 50px;
    margin-bottom: 50px;
  }

  .h2-title-vegetables {
    font-size: 64px;
    line-height: 1;
  }

  .p-vegetables {
    font-size: 16px;
    line-height: 1.25;
    width: 626px;
  }

  .ul-card-vegetables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 20px;
  }

  .li-card-vegetables {
    padding: 32px 30px;
    width: 342px;
  }

  .h3-card-vegetables {
    font-size: 32px;
  }

  .p-card-vegetables {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1279px) {
  }
}

/* Десктопна верстка (від 1280px і більше) */
@media screen and (min-width: 1280px) {
  .section-vegetables {
    height: 1229px;
  }

  .div-vegetables {
    gap: 25px;
  }

  .ul-card-vegetables {
    column-gap: 21px;
  }

  .li-card-vegetables {
    padding: 32px 32px;
    width: 346px;
  }
}