.your_order{
    background-color: #7A3145;
    padding-top: 80px;
    padding-bottom: 80px;
}

.your_order_title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04167;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    padding-bottom: 29px;
}

.your_order-span{
color: rgba(251, 251, 251, 0.3);
}


.your_order_text {
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
font-weight: normal;
color:#fbfbfb;
padding-bottom: 40px;
}

/* Форма  */

.your_order_forma {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    background-color: #fbfbfb;
    border-radius: 30px;
    margin-bottom: 20px;
}

.your_order_forma_text{
    font-weight: 600;
        font-size: 24px;
        line-height: 1.08333;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
        padding: 40px 20px;
}

.order_form_span {
color: #7A3145;
}

.order_form_span_two {
    color: #576F35;
}

.paraparapam {
    display: flex;
    padding: 0 20px 40px 20px;
}

.order_forma {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.form-input {
    border: 1px solid rgba(20, 20, 20, 0.2);
        border-radius: 30px;
        width: 295px;
        height: 46px;
        font-weight: 500;
            font-size: 14px;
            line-height: 1.28571;
            letter-spacing: -0.02em;
            color: #141414;
            display: flex;
}


.form-input::placeholder {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: #141414;
        padding-left: 16px;
}

.form-input_coment {
width: 295px;
height: 91px;
border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 15px;
}

.form-input_coment::placeholder {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: #141414;
        padding-left: 16px;
        padding-top: 14px;
}


.form-button {
    background: #576f35;
    border-radius: 30px;
        padding: 16px 129px;
        width: 295px;
        height: 50px;
        display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            padding: 0;
            cursor: pointer;
            color: #fbfbfb;
            margin-top: 5px;
}


/* Картинка */

.your_order_image {
    background-color: #576F35;
    border-radius: 30px;
}

.lalalala {
    border: none;
        padding: 40px 20px;
}

.textoflinks {
font-weight: 600;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.01em;
color: rgba(251, 251, 251, 0.5);
padding-top: 20px;
padding-bottom: 14px;
}

.linkcurrent {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.08333;
        letter-spacing: -0.01em;
        color: #fbfbfb;
}


.slash {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.08333;
        letter-spacing: -0.01em;
        color: #fbfbfb;
        padding-right: 8px;
        padding-left: 8px;
}

.spissokk {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}


@media screen and (min-width: 768px) {

    .your_order {
            padding-top: 100px;
            padding-bottom: 100px;
        }
.your_order_title {
max-width: 640px;
opacity: 0.6;
font-size: 64px;
    line-height: 1;
    padding-bottom: 25px;
}

.your_order_text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    font-weight: normal;
    max-width: 640px;
    padding-bottom: 50px;
}


/* Форма */

.your_order_forma {
    max-width: 628px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.paraparapam {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 0 50px 0;
}

.your_order_forma_text {
    margin: 0 auto;
    max-width: 428px;
    padding: 50px 0 50px 0;
}

.form-input {
    width: 428px;
}

.form-input_coment{
    width: 428px;
        height: 95px;
}

.form-button {
    width: 428px;
        height: 52px;
    }

/*  Картинка */

.lalalala {
    padding: 50px 50px;
}

.your_order_image {
    width: 628px;
        margin: 0 auto;
}

.textoflinks {
    padding-top: 50px;
        padding-bottom: 15px;
        font-size: 18px;
            line-height: 1.11111;
}


.linkcurrent {
    font-size: 32px;
    line-height: 1;
}


.slash {
    font-size: 32px;
    line-height: 1;
    padding-right: 12px;
    padding-left: 12px;
}

}


@media screen and (min-width: 1280px) {

.your_order_title {
        max-width: 751px;
        opacity: 1;
    }

        .your_order_text {
            max-width: 742px;
        }

.your_order_forma {
    min-width: 529px;
    margin-bottom: 0;
    margin: 0;
}

.your_order_image {
    width: 527px;
    margin: 0;
}


.ogromniyconteiner {
    display: flex;
        justify-content: space-between;
}












}
